*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.product-card{
    background-color: white;
    display: inline;
    color: gray;
    text-align: center;
    padding: 40px;
    width: 500px;
    height: 500px;
}
.product-img{
    width: 250px;
    height: 350px;
}
.btn{
    
}